.home-wrapper {
    width:94%;
    margin: 0 auto;

    
    .products {
        display: grid;
        grid-template-columns: repeat(4,2fr);
        
        margin-top: 2rem;
        color: #889993;

        .product {
          display: flex;
          flex-direction: column;
          margin: 5px auto;
          padding: 9px;
          border-radius: 15px;
          width: 250px;
          box-shadow: -5px -5px 10px rgba(238, 216, 216, 0.5),2px 2px 5px rgba(94, 104, 121, 0.3);
          background-color: #ecf3f1;
          position: relative;

          .image {
            width: 96%;
            height:250px;
            object-fit: scale-down;
            margin-top: 1rem;
            margin-left: auto;
            margin-right: auto;
          }

          .title {
            font-size: 13px;
            font-weight: 400;
            height: 50px;
          }

          .price {
            font-size: 17px;
            font-weight: 700;
            color:rgb(167, 41, 41)
          }

          .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
    
            .add-to-cart-btn {
            
              width: 100%;
              height: 35px;
              border-radius: 5px;
              font-weight: 400;
              background-color: var(--special-color);
              color: #f9f9f9;
              border: none;
            
            }
          }
          
          .product-content:hover .image{
            opacity: 0.5;
          }
          
          .product-content:hover .middle {
            opacity: 1;
          }
          
          
        }
    
    
    }
    
  }
  
  
    
      
      
      
      
  
  @media (max-width: 1240px){
    
    .home-wrapper{

      .products{
        grid-template-columns: repeat(3,2fr);
      }
    }
  }

  @media (max-width: 920px){
    
    .home-wrapper{

      .products{
        grid-template-columns: repeat(2,1fr);
      }
    }
  }
  @media (max-width: 630px){
    
    .home-wrapper{

      .products{
        grid-template-columns: repeat(1,2fr);
      }
    }
  }