@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #2f3a49;
}

.svg-icon circle {
  /*stroke: #4691f6;*/
  stroke-width: 1;
}